.post-toc .nav .active-current > a {
  color: #3cb371;
}
.post-toc .nav .active > a {
  border-bottom-color: #3cb371;
  color: #3cb371;
}
.sidebar-toc-active .sidebar-nav-toc,
.sidebar-overview-active .sidebar-nav-overview {
  border-bottom-color: #3cb371;
  color: #3cb371;
  transition-delay: 0.2s;
}
.post-toc .nav .active > a {
  border-bottom-color: #3cb371;
  color: #3cb371;
}
.post-toc .nav .active-current > a {
  color: #3cb371;
}
.sidebar-toc-active .sidebar-nav-toc:hover,
.sidebar-overview-active .sidebar-nav-overview:hover {
  color: #3cb371;
}
.sidebar-nav li:hover {
  color: #3cb371;
}
.sidebar-toc-active .sidebar-nav-toc,
.sidebar-overview-active .sidebar-nav-overview {
  border-bottom-color: #3cb371;
  color: #3cb371;
  transition-delay: 0.2s;
}
.post-toc .nav .active > a {
  border-bottom-color: #3cb371;
  color: #3cb371;
}
.post-toc .nav .active-current > a {
  color: #3cb371;
}
